/* styles for index.html */



body
{
	margin: 0px; padding: 0px;
	font-family: 'Cantarell';
}



button
{
	margin: 0px 30%; border: none; padding: 10px; border-radius: 5px;
	color: #fff; background-color: #d70a42;
	display: flex; align-content: center; justify-content: center;
	width: 40%; height: 40px;
	transition: transform 0.1s;
}

#click-bait:hover
{
	transform: scale(1.1);
}

#click-bait:active
{
	transform: scale(0.8);
}



h2
{
	margin: 10px; padding: 0px; border: none;
	text-align: center;
	font-size: 20px;
}

