<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>404 Not Found</title>
	</head>

	<body>
		<h1>Question {{ question_selected.id }} - {{ question_selected.question_text }}</h1>
		<form action="{% url 'apphome:view' question_selected.id %}" method="POST">
			{% csrf_token %}
			<fieldset>
				{% for q in question_list %}
				<input type="radio" name="question" id="q{{ q.id }}" value="{{ q.id }}">
				<label for="q{{ q.id }}">{{ q.question_text }}</label>
				<br>
				{% endfor %}
			</fieldset>
			<input type="submit" value="Submit">
		</form>
	</body>

</html>
